@tailwind base;
@tailwind components;
@tailwind utilities;


.flex-row-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-row-around{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.text-green {
  color: green;
}
.text-red {
  color: red;
}
.reditect-button {
  position: absolute;
  background-color: rgb(37, 99, 235 );
  padding: 16px 16px;
  border-radius: 6px;
  color: #FFF;
  right: 10%;
  top: 50px;
  min-width: 100px;
}